# Enviroment variables needed to connect to the LiveKit server.
# LIVEKIT_API_KEY=<your_api_key>
# LIVEKIT_API_SECRET=<your_api_secret>
# LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud
LIVEKIT_URL=wss://test-voice-assistant-akc9vx3a.livekit.cloud
LIVEKIT_API_KEY=APIFvqLFL8Uc5Rq
LIVEKIT_API_SECRET=vIgaU6fYFyoXzEStU1YUbwXrIjz6lCQ3QP2Cr9SV75J